@import '../scss/variable/utils.scss';

section.culture_visual_main {
    .culture_visual_pos {
        height: 100%;
        position: relative;

        .culture_visual_overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, .4);
        }

        .culture_visual_img {
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .culture_visual_txt {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center;

            p {
                span {
                    font-size: 72px;
                    font-family: $bold;
                    display:inline;
                }
            }

            >span {
                font-size: 20px;
                font-family: $medium;
            }
        }
    }
}

@include tablet{
    section.culture_visual_main {
        .culture_visual_pos {
            .culture_visual_txt {
                p {
                    span {
                        display:block;
                        font-size: 48px;
                    }
                }
            }
        }
    }
}

@include mobile{
    section.culture_visual_main {
        .culture_visual_pos {
            .culture_visual_txt {
                p {
                    span {
                        font-size: 36px;
                        display:block;
                    }
                }
            }
        }
    }
    
}

section.culture_con01{
    .con01_bg{
        padding:150px 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .container{
            >div{
                display:flex;
                align-items: center;
                justify-content: space-between;
                .txt_box{
                    color:#fff;
                    h3{
                        font-family: $bold;
                        font-size: 48px;
                        line-height: 60px;
                    }
                    p{
                        padding-top:40px;
                        font-size: 16px;
                        line-height:30px;
                    }
                }
                .img_box{
                    img{
                        width:100%;
                        height:100%;
                        display:block;
                    }
                }
            }
        }
    }
}

@include tablet{
    section.culture_con01{
        .con01_bg{
            padding:100px 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .container{
                >div{
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    .txt_box{
                        color:#fff;
                        h3{
                            font-family: $bold;
                            font-size: 48px;
                            line-height: 60px;
                        }
                    }
                    .img_box{
                        margin-top:80px;
                        img{
                            width:100%;
                            max-width:500px;
                            height:100%;
                        }
                    }
                }
            }
        }
    }
}

@include mobile{
    section.culture_con01{
        .con01_bg{
            padding:50px 0px;
            .container{
                >div{
                    flex-direction: column;
                    .txt_box{
                        h3{
                            font-size: 28px;
                            line-height: 40px;
                        }
                        p{
                            padding-top:20px;
                        }
                    }
                    .img_box{
                        margin-top:40px;
                    }
                }
            }
        }
    }
}

section.culture_con02{
    > div{
        display:flex;
        > div{
            width:50%;
            > div{
                position:relative;
                p{
                    position: absolute;
                    top:40px; left:40px;
                    color:#fff;
                    font-size: 20px;
                    font-family: $medium;
                    line-height:27px;
                    z-index:10;
                }
                img{
                    width:100%;
                    display:block;
                }
                .overlay{
                    position: absolute;
                    top:0; right:0; bottom:0; left:0;
                    width:100%; height:100%;
                    background-color:rgba(0, 0, 0, .4);
                }
            }
        }
        .left_box{
            display:flex;
            flex-wrap: wrap;
            div{
                width:50%;
            }
        }
    }
}

@include tablet{
    section.culture_con02{
        > div{
            display:flex;
            > div{
                width:50%;
                > div{
                    position:relative;
                    p{
                        position: absolute;
                        top:15px; left:15px;
                        color:#fff;
                        font-size: 16px;
                        font-family: $medium;
                        line-height:27px;
                        z-index:10;
                    }
                    img{
                        width:100%;
                        display:block;
                    }
                    .overlay{
                        position: absolute;
                        top:0; right:0; bottom:0; left:0;
                        width:100%; height:100%;
                        background-color:rgba(0, 0, 0, .4);
                    }
                }
            }
            .left_box{
                display:flex;
                flex-wrap: wrap;
                div{
                    width:50%;
                }
            }
        }
    }
    
}

@include mobile{
    section.culture_con02{
        > div{
            display:block;
            > div{
                width:100%;
                > div{
                    p{
                        top:15px; left:15px;
                        font-size: 16px;
                    }
                }
            }
            .left_box{
                display:block;
                div{
                    width:100%;
                }
            }
        }
    }
    
}

.section.culture_con03{
    text-align: center;
    box-sizing: border-box;
    .con03_bg{
        padding:150px 15px;
        background-color:rgba(0, 0, 0, .05);
    h2{
        font-family: $bold;
        font-size: 48px;
        line-height: 68px;
    }

    .swiper{
        margin-top:80px;
        .swiper-wrapper{
            height:100%;
            padding-bottom:70px;
            .swiper-slide{
                background:none;
                flex-wrap: wrap;
                .txt_wrap{
                    border-radius:10px;
                    background:#fff;
                    .txt_padding{
                        width:100%;
                        padding:60px 90px;
                        box-sizing: border-box;
                        > div{
                            p{
                                font-size: 14px;
                                color:#333;
                            }
                        }
                    }
                }
                h4{
                    margin-top:40px;
                }
            }

            .swiper-slide-active{
                .txt_wrap{
                    background-color:#53575A;
                    .txt_padding{
                        >div{
                            p{
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
        .swiper-pagination{
            bottom:0;
            .swiper-pagination-bullet{
                width:30px;
                height:4px;
                background:rgba(83, 87, 90, 0.5);
                border-radius:0;
            }
            .swiper-pagination-bullet-active{
                background:rgba(83, 87, 90, 1);
            }
        }
    }
}
}

@include tablet{
    .section.culture_con03{
        text-align: center;
        box-sizing: border-box;
        .con03_bg{
            padding:100px 15px;
            background-color:rgba(0, 0, 0, .05);
        h2{
            font-family: $bold;
            font-size: 48px;
            line-height: 68px;
        }
    
        .swiper{
            margin-top:80px;
            .swiper-wrapper{
                height:100%;
                padding-bottom:70px;
                .swiper-slide{
                    background:none;
                    flex-wrap: wrap;
                    .txt_wrap{
                        border-radius:10px;
                        background:#fff;
                        .txt_padding{
                            width:100%;
                            padding:60px 90px;
                            box-sizing: border-box;
                            > div{
                                p{
                                    font-size: 14px;
                                    color:#333;
                                }
                            }
                        }
                    }
                    h4{
                        margin-top:40px;
                    }
                }
    
                .swiper-slide-active{
                    .txt_wrap{
                        background-color:#53575A;
                        .txt_padding{
                            >div{
                                p{
                                    color:#fff;
                                }
                            }
                        }
                    }
                }
            }
            .swiper-pagination{
                bottom:0;
                .swiper-pagination-bullet{
                    width:30px;
                    height:4px;
                    background:rgba(83, 87, 90, 0.5);
                    border-radius:0;
                }
                .swiper-pagination-bullet-active{
                    background:rgba(83, 87, 90, 1);
                }
            }
        }
    }
    }
}

@include mobile{
    .section.culture_con03{
        text-align: center;
        box-sizing: border-box;
        .con03_bg{
            padding:50px 20px;
        h2{
            font-family: $bold;
            font-size: 28px;
            line-height: 32px;
        }
    
        .swiper{
            margin-top:40px;
            .swiper-wrapper{
                padding-bottom:50px;
                .swiper-slide{
                    .txt_wrap{
                        .txt_padding{
                            padding:30px 40px;
                            > div{
                            }
                        }
                    }
                    h4{
                        margin-top:20px;
                    }
                }
            }
            .swiper-pagination{
                bottom:0;
            }
        }
    }
    }
}