@import '../scss/variable/utils.scss';

.section.recruit_visual_main {
    .recruit_visual_pos {
        height: 100%;
        position: relative;

        .recruit_visual_overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, .4);
        }

        .recruit_visual_img {
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .recruit_visual_txt {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center;

            p {
                span {
                    font-size: 72px;
                    font-family: $bold;
                    display: inline;
                }
            }

            >span {
                font-size: 20px;
                font-family: $medium;
            }
        }
    }
}

@include tablet {
    .section.recruit_visual_main {
        .recruit_visual_pos {
            .recruit_visual_txt {
                p {
                    span {
                        font-size: 48px;
                    }
                }
            }
        }
    }
}

@include mobile {
    .section.recruit_visual_main {
        .recruit_visual_pos {
            .recruit_visual_txt {
                p {
                    span {
                        display: block;
                        font-size: 36px;
                    }
                }
            }
        }
    }
}

.section.recruit_con01 {
    padding: 150px 0;

    .container {
        .con01_wrap {
            text-align: center;

            h2 {
                font-family: $bold;
                font-size: 48px;
            }

            p {
                padding-top: 20px;
                font-size: 16px;
            }

            .column {
                margin-top: 80px;

                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        position: relative;
                        padding: 26px;
                        width: 250px;
                        height: 250px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        background-color: $subColor;
                        border-radius: 50%;
                        box-sizing: border-box;
                        box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, .2);

                        &:nth-child(1) > span,
                        &:nth-child(2) > span,
                        &:nth-child(3) > span {
                            position: absolute;
                            // left: calc(100% + 50px);
                            width: 29px;
                            height: 41px;
                            background-image: url('../../img/common/icon/next_ico.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center;
                        }

                        div {
                            position: relative;
                            background-color: #fff;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            box-sizing: border-box;

                            dl {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);

                                dt {
                                    width: 100%;
                                    font-family: $bold;
                                    color: $mainColor;
                                    font-size: 28px;
                                }

                                dd {
                                    width: 100%;
                                    font-family: $Regular;
                                    font-size: 20px;
                                    padding-top: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include tablet {
    .section.recruit_con01 {
        padding: 100px 0;

        .container {
            .con01_wrap {
                h2 {
                    font-size: 48px;
                }

                .column {
                    ul {
                        li {
                            padding: 20px;
                            width: 200px;
                            height: 200px;

                            &:nth-child(1) > span,
                            &:nth-child(2) > span,
                            &:nth-child(3) > span {
                                width: 22px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .section.recruit_con01 {
        padding: 50px 0;

        .container {
            .con01_wrap {
                h2 {
                    font-size: 28px;
                }

                p {
                    padding-top: 20px;
                    font-size: 16px;
                }

                .column {
                    margin-top: 40px;

                    ul {
                        display: block;

                        li {
                            position: relative;
                            padding: 26px;
                            width: 200px;
                            height: 120px;
                            margin: 0 auto;
                            margin-bottom: 70px;
                            border-radius:30px;

                            &:last-child{
                                margin-bottom:0;
                            }

                            &:nth-child(1) > span,
                            &:nth-child(2) > span,
                            &:nth-child(3) > span {
                                transform: rotate(90deg) translate(-50%, -50%);
                                // left: calc(50% - 21px);
                                top: calc(100% + 30px);
                                width: 21px;
                                height: 30px;
                            }

                            div {
                                position: relative;
                                background-color: #fff;
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                                box-sizing: border-box;

                                dl {
                                    display:flex;
                                    align-items: center;
                                    justify-content: center;
                                    width:100%;
                                    dt {
                                        display: inline-block;
                                        width: auto;
                                    }

                                    dd {
                                        display: inline-block;
                                        width:auto;
                                        padding:0 0 0 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.section.recruit_con02 {
    text-align: center;

    .con02_bg {
        padding: 150px 0;
        background-color: $mainColor;

        h2 {
            display: inline;
            position: relative;
            font-family: $bold;
            font-size: 48px;
            color: #fff;

            &:after {
                content: '';
                position: absolute;
                top: 100%;
                left: calc(100% + 50px);
                transform: translateY(-50%);
                width: 77.2px;
                height: 100px;
                background-image: url('../../img/layout/recruit/cursor.png');
                background-repeat: no-repeat;
                background-size: cover;

            }
        }

        .white_box {
            margin-top: 80px;
            background-color: #fff;
            width: 100%;
            padding: 50px;
            box-sizing: border-box;
            border-radius: 30px;
            text-align: left;

            div {
                ul {
                    li {
                        border-bottom: 1px solid rgba(0, 0, 0, .15);
                        height: 80px;
                        display:flex;
                        align-items: center;

                        &:last-child {
                            border-bottom: none;
                        }

                        div{
                            &:nth-child(1){
                                span{
                                    width: 40px;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    background-color: $mainColor;
                                    border-radius: 50%;
                                    font-family: $bold;
                                    color: #fff;
                                    margin-right: 16px;
                                }
                            }
                            &:not(:nth-child(1)){
                                span{
                                &:nth-child(1) {
                                    font-size: 20px;
                                    font-family: $medium;
                                    margin-right: 32px;
                                }
    
                                &:nth-child(2) {
                                    font-size: 20px;
                                    font-family: $medium;
                                    color: rgba(0, 0, 0, .4);
                                }
                            }
                            }
                    }
                    }
                }
            }
        }
    }
}

@include tablet {
    .section.recruit_con02 {
        .con02_bg {
            padding: 100px 85px;
            h2 {
                font-size: 48px;
                &:after {
                    width: 47px;
                    height: 60px;
    
                }
            }
            .white_box {    
                div {
                    ul {
                        li {       
                            height:108px; 
                            div{
                                &:not(:nth-child(1)){
                                    span{
                                    &:nth-child(1) {
                                        display:block;
                                    }
        
                                    &:nth-child(2) {
                                        margin-top:10px;
                                        display:block;
                                    }
                                }
                                }
                        }
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    .section.recruit_con02 {
        text-align: left;
    
        .con02_bg {
            padding: 50px 0;
            background-color: $mainColor;
    
            h2 {
                display: inline-block;
                position: relative;
                font-family: $bold;
                font-size: 28px;
                color: #fff;
                text-align: left;
                span{
                    display:block;
                }
    
                &:after {
                    content: '';
                    position: absolute;
                    top: 0; right:0; left:unset;
                    transform: translateY(0);
                    width: 47px;
                    height: 60px;
                    background-image: url('../../img/layout/recruit/cursor.png');
                    background-repeat: no-repeat;
                    background-size: cover;
    
                }
            }
    
            .white_box {
                margin-top: 35px;
                background-color: #fff;
                width: 100%;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 30px;
                text-align: left;
    
                div {
                    ul {
                        li {
                            height: auto;
                            padding:10px;
                            div{
                                &:not(:nth-child(1)){
                                    span{
                                    &:nth-child(1) {
                                        display:block;
                                        font-size: 16px;
                                        margin-right: 0px;
                                    }
        
                                    &:nth-child(2) {
                                        display:block;
                                        font-size: 16px;
                                    }
                                }
                                }
                        }
                        }
                    }
                }
            }
        }
    }
}

.section.recruit_con04 {
    height: 100%;

    .con04_bg {
        height: 100%;
        background-color: #1C1C1C;
        padding: 200px 40px 120px 40px;
        box-sizing: border-box;

        .swiper {
            width: 100%;
            height: 100%;
            padding-bottom: 80px;

            .swiper-wrapper {
                .swiper-slide {
                    height:530px;
                    text-align: center;
                    font-size: 18px;
                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;

                    .bg_box {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;

                        .txt_box {
                            width: 100%;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            color: #fff;
                            z-index: 10;

                            h3 {
                                font-size: 28px;
                                font-family: $medium;
                                letter-spacing: -0.2px;
                            }

                            p {
                                font-size: 17px;
                                padding-top: 65px;
                            }
                        }

                        .overlay {
                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(0, 0, 0, .6);
                        }
                    }
                }
            }

            .swiper-pagination {
                .swiper-pagination-bullet {
                    background-color: #c4c4c4;
                }

                .swiper-pagination-bullet-active {
                    background: none;
                    outline: 2px solid #fff;
                }
            }
        }
    }
}

@include tablet {
    .section.recruit_con04 {
        .con04_bg {
            padding: 25px;
            .swiper {
                padding-bottom: 0px;
                .swiper-wrapper {
                    flex-wrap: wrap;
                    .swiper-slide {
                        width:calc(50% - 50px);
                        text-align: center;
                        margin:25px;
                    }
                }
                .swiper-pagination {
                    display:none;
                }
            }
        }
    }
}

@include mobile {
    .section.recruit_con04 {
        .con04_bg {
            padding: 50px 25px;
            .swiper {
                padding-bottom: 0;
    
                .swiper-wrapper {
                    flex-wrap: wrap;
                    .swiper-slide {
                        &:not(:first-child){
                            margin-top:20px;
                        }
                        .bg_box {
                            .txt_box {
                                p {
                                    padding-top: 30px;
                                    line-height: 32px;
                                }
                            }
                        }
                    }
                }
                .swiper-pagination {
                    display:none;
                }
            }
        }
    }
}

.section.recruit_con05 {
    padding: 150px 0;

    .container {
        .con05_wrap {
            .txt_box {
                text-align: center;

                h2 {
                    font-size: 48px;
                    font-family: $bold;
                }

                p {
                    font-size: 30px;
                    margin-top: 48px;
                }
            }
        }
    }
}

@include tablet {
    .section.recruit_con05 {
        padding: 150px 0;
    
        .container {
            .con05_wrap {
                .txt_box {
                    text-align: center;
    
                    h2 {
                        font-size: 48px;
                        font-family: $bold;
                        span{
                            display:block;
                        }
                    }
    
                    p {
                        font-size: 30px;
                        margin-top: 48px;
                    }
                }
            }
        }
    }
}
@include mobile {
    .section.recruit_con05 {
        padding: 50px 0;
    
        .container {
            .con05_wrap {
                .txt_box {
                    text-align: center;
    
                    h2 {
                        font-size: 28px;
                        font-family: $bold;
                        span{
                            display:block;
                        }
                    }
    
                    p {
                        font-size: 15px;
                        margin-top: 24px;
                    }
                }
            }
        }
    }
}